extends layout
block content
    #animContent
        //view: company list
        include ./includes/index/companyList.jade
        //view: details for one company, employees and notes
        include ./includes/index/companyDetails.jade
    include ./includes/yesnomodal.jade
block scriptsEndBody
    script(src='/javascripts/app/index.js')
