doctype html
html
    head
        meta(name='viewport',content='width=device-width',initial-scale='1')
        title=title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-2.1.1.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/moment.js')
        script(src='/javascripts/bootstrap-datetimepicker.js')
        script(src='/javascripts/knockout-3.1.0.js')
        script(src='/javascripts/knockout.mapping-2.4.1.js')
        script(src='/javascripts/sammy-0.7.5.min.js')
        script(src='/javascripts/app/dto.js')
        script(src='/javascripts/app/yesnomodal.js')
        block scripts
    body
        div#header
        div#content.container
            block content
        div#footer