body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#companyDetails .tab-pane {
    margin-top: 10px;
}

#companyDetails button.save,
#companyDetails button.cancel {
    margin-right: 10px;
}

#companyDetails button.addEmployee,
#companyDetails button.addNote {
    margin: 10px;
}

#animContent {
    perspective: 700px;
}

#companyDetails,
#companyList {
    position: absolute;
    width: 100%;
}
