#companyList(data-bind='animatedVisible: navigation() === "list"', style='display: none;')
    h1 Companies:
    table
        thead: tr
            th Name
            th City
            th
        tbody(data-bind='foreach: companies')
            tr(data-bind='click: $root.goToDetail')
                td.comapny_name(data-bind='text: name')
                td.company_address(data-bind='text: address.city')
                td: button.company_remove(type='button',data-bind='click: $root.removeCompany, clickBubble: false') &times
    button.add_company(data-bind='click: addCompany') Add